---
import EsriVectorTileViewer from "../components/EsriVectorTileViewer.astro";
import mainCSSURL from "../assets/styles/main.css?url";
import esriCalciteCSSURL from "@esri/calcite-components/dist/calcite/calcite.css?url";
import arcgisMapComponentCSSURL from "@arcgis/map-components/dist/arcgis-map-components/arcgis-map-components.css?url";
import arcgisLightThemeCssURL from "@arcgis/core/assets/esri/themes/light/main.css?url";
import arcgisDarkThemeCssURL from "@arcgis/core/assets/esri/themes/dark/main.css?url";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Granice II Rzeczypospolitej</title>
        <link rel="stylesheet" href={mainCSSURL} />
        <link rel="stylesheet" href={esriCalciteCSSURL} />
        <link rel="stylesheet" href={arcgisMapComponentCSSURL} />
        <link
            id="arcgis-maps-sdk-theme-light"
            rel="stylesheet"
            href={arcgisLightThemeCssURL}
        />
        <link
            disabled
            id="arcgis-maps-sdk-theme-dark"
            rel="stylesheet"
            href={arcgisDarkThemeCssURL}
        />
        <script>
            import "@arcgis/map-components/components/arcgis-map";
            import "@arcgis/map-components/components/arcgis-zoom";
            import "@arcgis/map-components/components/arcgis-basemap-toggle";
            import "@arcgis/map-components/components/arcgis-home";
            import "@arcgis/map-components/components/arcgis-layer-list";
            import "@arcgis/map-components/components/arcgis-scale-bar";

            import "@esri/calcite-components/dist/components/calcite-shell";
            import "@esri/calcite-components/dist/components/calcite-navigation";
            import "@esri/calcite-components/dist/components/calcite-navigation-logo";
            import "@esri/calcite-components/dist/components/calcite-label";
            import "@esri/calcite-components/dist/components/calcite-switch";

            import esriConfig from "@arcgis/core/config";
            import type { ArcgisMap } from "@arcgis/map-components/components/arcgis-map";
            esriConfig.apiKey = import.meta.env.PUBLIC_ESRI_API_KEY;

            const updateDarkMode = () => {
                const loader = document.querySelector("calcite-loader");
                if (loader) loader.hidden = false;
                document.body.classList.toggle("calcite-mode-dark");
                
                const dark = document.querySelector("#arcgis-maps-sdk-theme-dark") as HTMLLinkElement;
                const light = document.querySelector("#arcgis-maps-sdk-theme-light") as HTMLLinkElement;
                const arcgiMap = document.getElementById("arcgis-map-1") as ArcgisMap;
                if (light) light.disabled = !light.disabled;

                if (dark) {
                    dark.disabled = !dark.disabled;
                    if (arcgiMap) arcgiMap.basemap = dark.disabled ? "gray-vector" : "dark-gray-vector";
                }
                
                const widgets = document.getElementsByClassName("esri-ui");
                [...widgets].forEach(widget => {
                    widget.classList.toggle("calcite-mode-dark");
                })
                if (loader) loader.hidden = true;
            };

            document.querySelector("calcite-switch")?.addEventListener("calciteSwitchChange", updateDarkMode);
        </script>
    </head>
    <body class="h-dvh w-dvw">
        <calcite-shell class="h-dvh w-dvw">
            <calcite-navigation slot="header">
                <calcite-navigation-logo
                    slot="logo"
                    heading="Granice II Rzeczypospolitej"
                ></calcite-navigation-logo>
                <calcite-label
                    layout="inline"
                    slot="content-end"
                    style="--calcite-label-margin-bottom: 0px;"
                    class="px-2"
                >
                    <svg
                        class="size-10 fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        height="10"
                        width="10"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
                        ></path>
                    </svg>
                    <calcite-switch scale="l"></calcite-switch>
                    <svg
                        class="size-10 fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        height="10"
                        width="10"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
                        ></path>
                    </svg>
                </calcite-label>
            </calcite-navigation>
            <EsriVectorTileViewer
                class="size-full"
                id="arcgis-map-1"
                center="19.4803, 52.0665"
                zoom="5"
            >
                <arcgis-zoom position="top-left"></arcgis-zoom>
                <arcgis-home position="top-left"></arcgis-home>
                <arcgis-basemap-toggle position="bottom-right"
                ></arcgis-basemap-toggle>
                <arcgis-layer-list
                    position="top-right"
                    show-heading
                    show-collapse-button
                    selection-mode="single"
                    drag-enabled
                    collapsed></arcgis-layer-list>
                <arcgis-scale-bar
                    position="bottom-left"
                    bar-style="line"
                    unit="metric"></arcgis-scale-bar>
            </EsriVectorTileViewer>
        </calcite-shell>
    </body>
</html>
